<script>
    dataLayer.push({
        'event': 'update_view', 
        'pageCategory': 'Portfolio', 
        'pageNumber': 2,
        'pageDetail': { 
            'date': '2020',
            'name': 'Portfolio'
            }
        });
</script>
<div id="cspio-page">
    <div id="cspio-content">
			
        <!-- <img id="cspio-logo" src="https://static.comingsoonpage.com/cspio-assets/1.0.0/seedprod-logo-white.png"> -->
                            
        <h1 id="cspio-headline">Portfolio</h1>			    				
        
        <button class="btn" onclick="dataLayer.push({'event': 'update_pageDetail', 'pageCategory': 'PageUpdated'});">Update Page</button>
        
                                                                                                                                                                                    
    </div>
</div>


<script>


</script>